codifica_beta_2.0/myTEI.dtd


<!--
DTD generated from ODD source 2019-05-24T14:26:32Z. .
TEI Edition: Version 3.5.0. Last updated on
	29th January 2019, revision 3c0c64ec4
TEI Edition Location: http://www.tei-c.org/Vault/P5/Version 3.5.0/

-->

<!-- start datatypes -->

<!ENTITY % teidata.certainty '(high|medium|low|unknown)' >

<!ENTITY % teidata.probability ' CDATA ' >

<!ENTITY % teidata.numeric ' CDATA ' >

<!ENTITY % teidata.count ' CDATA ' >

<!ENTITY % teidata.temporal.w3c ' CDATA ' >

<!ENTITY % teidata.duration.w3c ' CDATA ' >

<!ENTITY % teidata.truthValue ' CDATA ' >

<!ENTITY % teidata.xTruthValue ' CDATA ' >

<!ENTITY % teidata.language ' CDATA ' >

<!ENTITY % teidata.outputMeasurement ' CDATA ' >

<!ENTITY % teidata.pattern ' CDATA ' >

<!ENTITY % teidata.point ' CDATA ' >

<!ENTITY % teidata.pointer ' CDATA ' >

<!ENTITY % teidata.versionNumber ' CDATA ' >

<!ENTITY % teidata.replacement ' CDATA' >

<!ENTITY % teidata.xpath ' CDATA' >

<!ENTITY % teidata.word ' CDATA ' >

<!ENTITY % teidata.text ' CDATA ' >

<!ENTITY % teidata.name ' CDATA ' >

<!ENTITY % teidata.enumerated '%teidata.word;' >

<!ENTITY % teidata.probCert ' CDATA ' >

<!ENTITY % teidata.temporal.iso ' CDATA ' >

<!ENTITY % teidata.duration.iso ' CDATA ' >

<!-- end datatypes -->

<!-- predeclared classes -->

<!ENTITY % tei_att.global.responsibility.attribute.cert '
cert %teidata.probCert;  #IMPLIED'>

<!ENTITY % tei_att.global.responsibility.attribute.resp '
resp CDATA  #IMPLIED'>
<!ENTITY % tei_att.global.responsibility.attributes '
 %tei_att.global.responsibility.attribute.cert;
 %tei_att.global.responsibility.attribute.resp;'> 
<!ENTITY % tei_att.global.rendition.attribute.rend '
rend CDATA  #IMPLIED'>

<!ENTITY % tei_att.global.rendition.attribute.style '
style %teidata.text;  #IMPLIED'>

<!ENTITY % tei_att.global.rendition.attribute.rendition '
rendition CDATA  #IMPLIED'>
<!ENTITY % tei_att.global.rendition.attributes '
 %tei_att.global.rendition.attribute.rend;
 %tei_att.global.rendition.attribute.style;
 %tei_att.global.rendition.attribute.rendition;'> 
<!ENTITY % tei_att.global.source.attribute.source '
source CDATA  #IMPLIED'>
<!ENTITY % tei_att.global.source.attributes '
 %tei_att.global.source.attribute.source;'> 
<!ENTITY % model.eventLike ""> 
<!ENTITY % model.eventLike_sequence ""> 
<!ENTITY % model.eventLike_sequenceOptional ""> 
<!ENTITY % model.eventLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.eventLike_sequenceRepeatable ""> 
<!ENTITY % model.placeNamePart "placeName |country |settlement |district"> 
<!ENTITY % model.placeNamePart_sequence "placeName, country, settlement, district"> 
<!ENTITY % model.placeNamePart_sequenceOptional "placeName?, country?, settlement?, district?"> 
<!ENTITY % model.placeNamePart_sequenceOptionalRepeatable "placeName*, country*, settlement*, district*"> 
<!ENTITY % model.placeNamePart_sequenceRepeatable "placeName+, country+, settlement+, district+"> 
<!ENTITY % model.placeStateLike "%model.placeNamePart;"> 
<!ENTITY % model.placeStateLike_sequence "%model.placeNamePart;"> 
<!ENTITY % model.placeStateLike_sequenceOptional "%model.placeNamePart;?"> 
<!ENTITY % model.placeStateLike_sequenceOptionalRepeatable "%model.placeNamePart;*"> 
<!ENTITY % model.placeStateLike_sequenceRepeatable "%model.placeNamePart;+"> 
<!ENTITY % model.resourceLike "text |facsimile"> 
<!ENTITY % model.resourceLike_sequence "text, facsimile"> 
<!ENTITY % model.resourceLike_sequenceOptional "text?, facsimile?"> 
<!ENTITY % model.resourceLike_sequenceOptionalRepeatable "text*, facsimile*"> 
<!ENTITY % model.resourceLike_sequenceRepeatable "text+, facsimile+"> 
<!ENTITY % tei_att.global.analytic.attribute.ana '
ana CDATA  #IMPLIED'>
<!ENTITY % tei_att.global.analytic.attributes '
 %tei_att.global.analytic.attribute.ana;'> 
<!ENTITY % tei_att.msExcerpt.attribute.defective '
defective %teidata.xTruthValue;  #IMPLIED'>
<!ENTITY % tei_att.msExcerpt.attributes '
 %tei_att.msExcerpt.attribute.defective;'> 
<!ENTITY % tei_att.datable.custom.attribute.when-custom '
when-custom CDATA  #IMPLIED'>

<!ENTITY % tei_att.datable.custom.attribute.notBefore-custom '
notBefore-custom CDATA  #IMPLIED'>

<!ENTITY % tei_att.datable.custom.attribute.notAfter-custom '
notAfter-custom CDATA  #IMPLIED'>

<!ENTITY % tei_att.datable.custom.attribute.from-custom '
from-custom CDATA  #IMPLIED'>

<!ENTITY % tei_att.datable.custom.attribute.to-custom '
to-custom CDATA  #IMPLIED'>

<!ENTITY % tei_att.datable.custom.attribute.datingPoint '
datingPoint %teidata.pointer;  #IMPLIED'>

<!ENTITY % tei_att.datable.custom.attribute.datingMethod '
datingMethod %teidata.pointer;  #IMPLIED'>
<!ENTITY % tei_att.datable.custom.attributes '
 %tei_att.datable.custom.attribute.when-custom;
 %tei_att.datable.custom.attribute.notBefore-custom;
 %tei_att.datable.custom.attribute.notAfter-custom;
 %tei_att.datable.custom.attribute.from-custom;
 %tei_att.datable.custom.attribute.to-custom;
 %tei_att.datable.custom.attribute.datingPoint;
 %tei_att.datable.custom.attribute.datingMethod;'> 
<!ENTITY % model.persNamePart "surname |forename"> 
<!ENTITY % model.persNamePart_sequence "surname, forename"> 
<!ENTITY % model.persNamePart_sequenceOptional "surname?, forename?"> 
<!ENTITY % model.persNamePart_sequenceOptionalRepeatable "surname*, forename*"> 
<!ENTITY % model.persNamePart_sequenceRepeatable "surname+, forename+"> 
<!ENTITY % tei_att.datable.iso.attribute.when-iso '
when-iso %teidata.temporal.iso;  #IMPLIED'>

<!ENTITY % tei_att.datable.iso.attribute.notBefore-iso '
notBefore-iso %teidata.temporal.iso;  #IMPLIED'>

<!ENTITY % tei_att.datable.iso.attribute.notAfter-iso '
notAfter-iso %teidata.temporal.iso;  #IMPLIED'>

<!ENTITY % tei_att.datable.iso.attribute.from-iso '
from-iso %teidata.temporal.iso;  #IMPLIED'>

<!ENTITY % tei_att.datable.iso.attribute.to-iso '
to-iso %teidata.temporal.iso;  #IMPLIED'>
<!ENTITY % tei_att.datable.iso.attributes '
 %tei_att.datable.iso.attribute.when-iso;
 %tei_att.datable.iso.attribute.notBefore-iso;
 %tei_att.datable.iso.attribute.notAfter-iso;
 %tei_att.datable.iso.attribute.from-iso;
 %tei_att.datable.iso.attribute.to-iso;'> 
<!ENTITY % tei_att.global.facs.attribute.facs '
facs CDATA  #IMPLIED'>
<!ENTITY % tei_att.global.facs.attributes '
 %tei_att.global.facs.attribute.facs;'> 
<!ENTITY % tei_att.global.change.attribute.change '
change CDATA  #IMPLIED'>
<!ENTITY % tei_att.global.change.attributes '
 %tei_att.global.change.attribute.change;'> 
<!-- end of predeclared classes -->

<!ENTITY % tei_att.canonical.attribute.key '
key %teidata.text;  #IMPLIED'>

<!ENTITY % tei_att.canonical.attribute.ref '
ref CDATA  #IMPLIED'>
<!ENTITY % tei_att.canonical.attributes '
 %tei_att.canonical.attribute.key;
 %tei_att.canonical.attribute.ref;'> 
<!ENTITY % tei_att.ranging.attribute.atLeast '
atLeast %teidata.numeric;  #IMPLIED'>

<!ENTITY % tei_att.ranging.attribute.atMost '
atMost %teidata.numeric;  #IMPLIED'>

<!ENTITY % tei_att.ranging.attribute.min '
min %teidata.numeric;  #IMPLIED'>

<!ENTITY % tei_att.ranging.attribute.max '
max %teidata.numeric;  #IMPLIED'>

<!ENTITY % tei_att.ranging.attribute.confidence '
confidence %teidata.probability;  #IMPLIED'>
<!ENTITY % tei_att.ranging.attributes '
 %tei_att.ranging.attribute.atLeast;
 %tei_att.ranging.attribute.atMost;
 %tei_att.ranging.attribute.min;
 %tei_att.ranging.attribute.max;
 %tei_att.ranging.attribute.confidence;'> 
<!ENTITY % tei_att.dimensions.attribute.unit '
unit %teidata.enumerated;  #IMPLIED'>

<!ENTITY % tei_att.dimensions.attribute.quantity '
quantity %teidata.numeric;  #IMPLIED'>

<!ENTITY % tei_att.dimensions.attribute.extent '
extent %teidata.text;  #IMPLIED'>

<!ENTITY % tei_att.dimensions.attribute.precision '
precision %teidata.certainty;  #IMPLIED'>

<!ENTITY % tei_att.dimensions.attribute.scope '
scope %teidata.enumerated;  #IMPLIED'>
<!ENTITY % tei_att.dimensions.attributes '%tei_att.ranging.attributes;
 %tei_att.dimensions.attribute.unit;
 %tei_att.dimensions.attribute.quantity;
 %tei_att.dimensions.attribute.extent;
 %tei_att.dimensions.attribute.precision;
 %tei_att.dimensions.attribute.scope;'> 
<!ENTITY % tei_att.written.attribute.hand '
hand %teidata.pointer;  #IMPLIED'>
<!ENTITY % tei_att.written.attributes '
 %tei_att.written.attribute.hand;'> 
<!ENTITY % tei_att.breaking.attribute.break '
break %teidata.enumerated;  #IMPLIED'>
<!ENTITY % tei_att.breaking.attributes '
 %tei_att.breaking.attribute.break;'> 
<!ENTITY % tei_att.cReferencing.attribute.cRef '
cRef %teidata.text;  #IMPLIED'>
<!ENTITY % tei_att.cReferencing.attributes '
 %tei_att.cReferencing.attribute.cRef;'> 
<!ENTITY % tei_att.datable.w3c.attribute.when '
when %teidata.temporal.w3c;  #IMPLIED'>

<!ENTITY % tei_att.datable.w3c.attribute.notBefore '
notBefore %teidata.temporal.w3c;  #IMPLIED'>

<!ENTITY % tei_att.datable.w3c.attribute.notAfter '
notAfter %teidata.temporal.w3c;  #IMPLIED'>

<!ENTITY % tei_att.datable.w3c.attribute.from '
from %teidata.temporal.w3c;  #IMPLIED'>

<!ENTITY % tei_att.datable.w3c.attribute.to '
to %teidata.temporal.w3c;  #IMPLIED'>
<!ENTITY % tei_att.datable.w3c.attributes '
 %tei_att.datable.w3c.attribute.when;
 %tei_att.datable.w3c.attribute.notBefore;
 %tei_att.datable.w3c.attribute.notAfter;
 %tei_att.datable.w3c.attribute.from;
 %tei_att.datable.w3c.attribute.to;'> 
<!ENTITY % tei_att.datable.attribute.calendar '
calendar %teidata.pointer;  #IMPLIED'>

<!ENTITY % tei_att.datable.attribute.period '
period %teidata.pointer;  #IMPLIED'>
<!ENTITY % tei_att.datable.attributes '%tei_att.datable.w3c.attributes;%tei_att.datable.iso.attributes;%tei_att.datable.custom.attributes;
 %tei_att.datable.attribute.calendar;
 %tei_att.datable.attribute.period;'> 
<!ENTITY % tei_att.datcat.attribute.datcat '
datcat CDATA  #IMPLIED'>

<!ENTITY % tei_att.datcat.attribute.valueDatcat '
valueDatcat CDATA  #IMPLIED'>
<!ENTITY % tei_att.datcat.attributes '
 %tei_att.datcat.attribute.datcat;
 %tei_att.datcat.attribute.valueDatcat;'> 
<!ENTITY % tei_att.declarable.attribute.default '
default (true|false) "false" '>
<!ENTITY % tei_att.declarable.attributes '
 %tei_att.declarable.attribute.default;'> 
<!ENTITY % tei_att.declaring.attribute.decls '
decls CDATA  #IMPLIED'>
<!ENTITY % tei_att.declaring.attributes '
 %tei_att.declaring.attribute.decls;'> 
<!ENTITY % tei_att.fragmentable.attribute.part '
part (Y|N|I|M|F) "N" '>
<!ENTITY % tei_att.fragmentable.attributes '
 %tei_att.fragmentable.attribute.part;'> 
<!ENTITY % tei_att.divLike.attribute.org '
org (composite|uniform) "uniform" '>

<!ENTITY % tei_att.divLike.attribute.sample '
sample (initial|medial|final|unknown|complete) "complete" '>
<!ENTITY % tei_att.divLike.attributes '%tei_att.fragmentable.attributes;
 %tei_att.divLike.attribute.org;
 %tei_att.divLike.attribute.sample;'> 
<!ENTITY % tei_att.docStatus.attribute.status '
status %teidata.enumerated;  "draft" '>
<!ENTITY % tei_att.docStatus.attributes '
 %tei_att.docStatus.attribute.status;'> 
<!ENTITY % tei_att.global.responsibility.attribute.cert '
cert %teidata.probCert;  #IMPLIED'>

<!ENTITY % tei_att.global.responsibility.attribute.resp '
resp CDATA  #IMPLIED'>
<!ENTITY % tei_att.global.responsibility.attributes '
 %tei_att.global.responsibility.attribute.cert;
 %tei_att.global.responsibility.attribute.resp;'> 
<!ENTITY % tei_att.editLike.attribute.evidence '
evidence NMTOKENS  #IMPLIED'>

<!ENTITY % tei_att.editLike.attribute.instant '
instant %teidata.xTruthValue;  "false" '>
<!ENTITY % tei_att.editLike.attributes '
 %tei_att.editLike.attribute.evidence;
 %tei_att.editLike.attribute.instant;'> 
<!ENTITY % tei_att.global.rendition.attribute.rend '
rend CDATA  #IMPLIED'>

<!ENTITY % tei_att.global.rendition.attribute.style '
style %teidata.text;  #IMPLIED'>

<!ENTITY % tei_att.global.rendition.attribute.rendition '
rendition CDATA  #IMPLIED'>
<!ENTITY % tei_att.global.rendition.attributes '
 %tei_att.global.rendition.attribute.rend;
 %tei_att.global.rendition.attribute.style;
 %tei_att.global.rendition.attribute.rendition;'> 
<!ENTITY % tei_att.global.source.attribute.source '
source CDATA  #IMPLIED'>
<!ENTITY % tei_att.global.source.attributes '
 %tei_att.global.source.attribute.source;'> 
<!ENTITY % tei_att.global.attribute.xmlid '
xml:id ID #IMPLIED'>

<!ENTITY % tei_att.global.attribute.n '
n %teidata.text;  #IMPLIED'>

<!ENTITY % tei_att.global.attribute.xmllang '
xml:lang %teidata.language;  #IMPLIED'>

<!ENTITY % tei_att.global.attribute.xmlbase '
xml:base %teidata.pointer;  #IMPLIED'>

<!ENTITY % tei_att.global.attribute.xmlspace '
xml:space (default|preserve) #IMPLIED'>
<!ENTITY % tei_att.global.attributes '%tei_att.global.rendition.attributes;%tei_att.global.analytic.attributes;%tei_att.global.facs.attributes;%tei_att.global.change.attributes;%tei_att.global.responsibility.attributes;%tei_att.global.source.attributes;
 %tei_att.global.attribute.xmlid;
 %tei_att.global.attribute.n;
 %tei_att.global.attribute.xmllang;
 %tei_att.global.attribute.xmlbase;
 %tei_att.global.attribute.xmlspace;'> 
<!ENTITY % tei_att.internetMedia.attribute.mimeType '
mimeType CDATA  #IMPLIED'>
<!ENTITY % tei_att.internetMedia.attributes '
 %tei_att.internetMedia.attribute.mimeType;'> 
<!ENTITY % tei_att.media.attribute.width '
width %teidata.outputMeasurement;  #IMPLIED'>

<!ENTITY % tei_att.media.attribute.height '
height %teidata.outputMeasurement;  #IMPLIED'>

<!ENTITY % tei_att.media.attribute.scale '
scale %teidata.numeric;  #IMPLIED'>
<!ENTITY % tei_att.media.attributes '%tei_att.internetMedia.attributes;
 %tei_att.media.attribute.width;
 %tei_att.media.attribute.height;
 %tei_att.media.attribute.scale;'> 
<!ENTITY % tei_att.resourced.attribute.url '
url %teidata.pointer;  #REQUIRED'>
<!ENTITY % tei_att.resourced.attributes '
 %tei_att.resourced.attribute.url;'> 
<!ENTITY % tei_att.interpLike.attribute.type '
type %teidata.enumerated;  #IMPLIED'>

<!ENTITY % tei_att.interpLike.attribute.inst '
inst CDATA  #IMPLIED'>
<!ENTITY % tei_att.interpLike.attributes '
 %tei_att.interpLike.attribute.type;
 %tei_att.interpLike.attribute.inst;'> 
<!ENTITY % tei_att.naming.attribute.role '
role NMTOKENS  #IMPLIED'>

<!ENTITY % tei_att.naming.attribute.nymRef '
nymRef CDATA  #IMPLIED'>
<!ENTITY % tei_att.naming.attributes '%tei_att.canonical.attributes;
 %tei_att.naming.attribute.role;
 %tei_att.naming.attribute.nymRef;'> 
<!ENTITY % tei_att.notated.attribute.notation '
notation %teidata.enumerated;  #IMPLIED'>
<!ENTITY % tei_att.notated.attributes '
 %tei_att.notated.attribute.notation;'> 
<!ENTITY % tei_att.placement.attribute.place '
place NMTOKENS  #IMPLIED'>
<!ENTITY % tei_att.placement.attributes '
 %tei_att.placement.attribute.place;'> 
<!ENTITY % tei_att.typed.attribute.type '
type %teidata.enumerated;  #IMPLIED'>

<!ENTITY % tei_att.typed.attribute.subtype '
subtype %teidata.enumerated;  #IMPLIED'>
<!ENTITY % tei_att.typed.attributes '
 %tei_att.typed.attribute.type;
 %tei_att.typed.attribute.subtype;'> 
<!ENTITY % tei_att.pointing.attribute.targetLang '
targetLang %teidata.language;  #IMPLIED'>

<!ENTITY % tei_att.pointing.attribute.target '
target CDATA  #IMPLIED'>

<!ENTITY % tei_att.pointing.attribute.evaluate '
evaluate (all|one|none) #IMPLIED'>
<!ENTITY % tei_att.pointing.attributes '
 %tei_att.pointing.attribute.targetLang;
 %tei_att.pointing.attribute.target;
 %tei_att.pointing.attribute.evaluate;'> 
<!ENTITY % tei_att.scoping.attribute.target '
target CDATA  #IMPLIED'>

<!ENTITY % tei_att.scoping.attribute.match '
match %teidata.xpath;  #IMPLIED'>
<!ENTITY % tei_att.scoping.attributes '
 %tei_att.scoping.attribute.target;
 %tei_att.scoping.attribute.match;'> 
<!ENTITY % tei_att.segLike.attribute.function '
function %teidata.enumerated;  #IMPLIED'>
<!ENTITY % tei_att.segLike.attributes '%tei_att.datcat.attributes;%tei_att.fragmentable.attributes;
 %tei_att.segLike.attribute.function;'> 
<!ENTITY % tei_att.sortable.attribute.sortKey '
sortKey %teidata.word;  #IMPLIED'>
<!ENTITY % tei_att.sortable.attributes '
 %tei_att.sortable.attribute.sortKey;'> 
<!ENTITY % tei_att.edition.attribute.ed '
ed CDATA  #IMPLIED'>

<!ENTITY % tei_att.edition.attribute.edRef '
edRef CDATA  #IMPLIED'>
<!ENTITY % tei_att.edition.attributes '
 %tei_att.edition.attribute.ed;
 %tei_att.edition.attribute.edRef;'> 
<!ENTITY % tei_att.spanning.attribute.spanTo '
spanTo %teidata.pointer;  #IMPLIED'>
<!ENTITY % tei_att.spanning.attributes '
 %tei_att.spanning.attribute.spanTo;'> 
<!ENTITY % tei_att.translatable.attribute.versionDate '
versionDate %teidata.temporal.w3c;  #IMPLIED'>
<!ENTITY % tei_att.translatable.attributes '
 %tei_att.translatable.attribute.versionDate;'> 
<!ENTITY % model.nameLike.agent "name |orgName |persName"> 
<!ENTITY % model.nameLike.agent_sequence "name, orgName, persName"> 
<!ENTITY % model.nameLike.agent_sequenceOptional "name?, orgName?, persName?"> 
<!ENTITY % model.nameLike.agent_sequenceOptionalRepeatable "name*, orgName*, persName*"> 
<!ENTITY % model.nameLike.agent_sequenceRepeatable "name+, orgName+, persName+"> 
<!ENTITY % model.segLike "phr |w |pc"> 
<!ENTITY % model.segLike_sequence "phr, w, pc"> 
<!ENTITY % model.segLike_sequenceOptional "phr?, w?, pc?"> 
<!ENTITY % model.segLike_sequenceOptionalRepeatable "phr*, w*, pc*"> 
<!ENTITY % model.segLike_sequenceRepeatable "phr+, w+, pc+"> 
<!ENTITY % model.hiLike "hi"> 
<!ENTITY % model.hiLike_sequence "hi"> 
<!ENTITY % model.hiLike_sequenceOptional "hi?"> 
<!ENTITY % model.hiLike_sequenceOptionalRepeatable "hi*"> 
<!ENTITY % model.hiLike_sequenceRepeatable "hi+"> 
<!ENTITY % model.emphLike "foreign |distinct |mentioned |term |title"> 
<!ENTITY % model.emphLike_sequence "foreign, distinct, mentioned, term, title"> 
<!ENTITY % model.emphLike_sequenceOptional "foreign?, distinct?, mentioned?, term?, title?"> 
<!ENTITY % model.emphLike_sequenceOptionalRepeatable "foreign*, distinct*, mentioned*, term*, title*"> 
<!ENTITY % model.emphLike_sequenceRepeatable "foreign+, distinct+, mentioned+, term+, title+"> 
<!ENTITY % model.highlighted "%model.hiLike; |%model.emphLike;"> 
<!ENTITY % model.highlighted_sequence "%model.hiLike;, %model.emphLike;"> 
<!ENTITY % model.highlighted_sequenceOptional "%model.hiLike;?, %model.emphLike;?"> 
<!ENTITY % model.highlighted_sequenceOptionalRepeatable "%model.hiLike;*, %model.emphLike;*"> 
<!ENTITY % model.highlighted_sequenceRepeatable "%model.hiLike;+, %model.emphLike;+"> 
<!ENTITY % model.dateLike "date"> 
<!ENTITY % model.dateLike_sequence "date"> 
<!ENTITY % model.dateLike_sequenceOptional "date?"> 
<!ENTITY % model.dateLike_sequenceOptionalRepeatable "date*"> 
<!ENTITY % model.dateLike_sequenceRepeatable "date+"> 
<!ENTITY % model.dimLike "height |width"> 
<!ENTITY % model.dimLike_sequence "height, width"> 
<!ENTITY % model.dimLike_sequenceOptional "height?, width?"> 
<!ENTITY % model.dimLike_sequenceOptionalRepeatable "height*, width*"> 
<!ENTITY % model.dimLike_sequenceRepeatable "height+, width+"> 
<!ENTITY % model.measureLike "num |height |width"> 
<!ENTITY % model.measureLike_sequence "num, height, width"> 
<!ENTITY % model.measureLike_sequenceOptional "num?, height?, width?"> 
<!ENTITY % model.measureLike_sequenceOptionalRepeatable "num*, height*, width*"> 
<!ENTITY % model.measureLike_sequenceRepeatable "num+, height+, width+"> 
<!ENTITY % model.egLike ""> 
<!ENTITY % model.egLike_sequence ""> 
<!ENTITY % model.egLike_sequenceOptional ""> 
<!ENTITY % model.egLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.egLike_sequenceRepeatable ""> 
<!ENTITY % model.graphicLike "graphic"> 
<!ENTITY % model.graphicLike_sequence "graphic"> 
<!ENTITY % model.graphicLike_sequenceOptional "graphic?"> 
<!ENTITY % model.graphicLike_sequenceOptionalRepeatable "graphic*"> 
<!ENTITY % model.graphicLike_sequenceRepeatable "graphic+"> 
<!ENTITY % model.offsetLike ""> 
<!ENTITY % model.offsetLike_sequence ""> 
<!ENTITY % model.offsetLike_sequenceOptional ""> 
<!ENTITY % model.offsetLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.offsetLike_sequenceRepeatable ""> 
<!ENTITY % model.pPart.msdesc "dimensions |material |objectType |stamp"> 
<!ENTITY % model.pPart.msdesc_sequence "dimensions, material, objectType, stamp"> 
<!ENTITY % model.pPart.msdesc_sequenceOptional "dimensions?, material?, objectType?, stamp?"> 
<!ENTITY % model.pPart.msdesc_sequenceOptionalRepeatable "dimensions*, material*, objectType*, stamp*"> 
<!ENTITY % model.pPart.msdesc_sequenceRepeatable "dimensions+, material+, objectType+, stamp+"> 
<!ENTITY % model.pPart.editorial "choice |abbr |expan"> 
<!ENTITY % model.pPart.editorial_sequence "choice, abbr, expan"> 
<!ENTITY % model.pPart.editorial_sequenceOptional "choice?, abbr?, expan?"> 
<!ENTITY % model.pPart.editorial_sequenceOptionalRepeatable "choice*, abbr*, expan*"> 
<!ENTITY % model.pPart.editorial_sequenceRepeatable "choice+, abbr+, expan+"> 
<!ENTITY % model.pPart.transcriptional "sic |corr |unclear"> 
<!ENTITY % model.pPart.transcriptional_sequence "sic, corr, unclear"> 
<!ENTITY % model.pPart.transcriptional_sequenceOptional "sic?, corr?, unclear?"> 
<!ENTITY % model.pPart.transcriptional_sequenceOptionalRepeatable "sic*, corr*, unclear*"> 
<!ENTITY % model.pPart.transcriptional_sequenceRepeatable "sic+, corr+, unclear+"> 
<!ENTITY % model.pPart.edit "%model.pPart.editorial; |%model.pPart.transcriptional;"> 
<!ENTITY % model.pPart.edit_sequence "%model.pPart.editorial;, %model.pPart.transcriptional;"> 
<!ENTITY % model.pPart.edit_sequenceOptional "%model.pPart.editorial;?, %model.pPart.transcriptional;?"> 
<!ENTITY % model.pPart.edit_sequenceOptionalRepeatable "%model.pPart.editorial;*, %model.pPart.transcriptional;*"> 
<!ENTITY % model.pPart.edit_sequenceRepeatable "%model.pPart.editorial;+, %model.pPart.transcriptional;+"> 
<!ENTITY % model.linePart "%model.hiLike; |choice |unclear |w |pc |zone"> 
<!ENTITY % model.linePart_sequence "%model.hiLike;, choice, unclear, w, pc, zone"> 
<!ENTITY % model.linePart_sequenceOptional "%model.hiLike;?, choice?, unclear?, w?, pc?, zone?"> 
<!ENTITY % model.linePart_sequenceOptionalRepeatable "%model.hiLike;*, choice*, unclear*, w*, pc*, zone*"> 
<!ENTITY % model.linePart_sequenceRepeatable "%model.hiLike;+, choice+, unclear+, w+, pc+, zone+"> 
<!ENTITY % model.ptrLike "ptr"> 
<!ENTITY % model.ptrLike_sequence "ptr"> 
<!ENTITY % model.ptrLike_sequenceOptional "ptr?"> 
<!ENTITY % model.ptrLike_sequenceOptionalRepeatable "ptr*"> 
<!ENTITY % model.ptrLike_sequenceRepeatable "ptr+"> 
<!ENTITY % model.lPart ""> 
<!ENTITY % model.lPart_sequence ""> 
<!ENTITY % model.lPart_sequenceOptional ""> 
<!ENTITY % model.lPart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.lPart_sequenceRepeatable ""> 
<!ENTITY % model.global.meta "interp |certainty"> 
<!ENTITY % model.global.meta_sequence "interp, certainty"> 
<!ENTITY % model.global.meta_sequenceOptional "interp?, certainty?"> 
<!ENTITY % model.global.meta_sequenceOptionalRepeatable "interp*, certainty*"> 
<!ENTITY % model.global.meta_sequenceRepeatable "interp+, certainty+"> 
<!ENTITY % model.milestoneLike "pb |lb |cb"> 
<!ENTITY % model.milestoneLike_sequence "pb, lb, cb"> 
<!ENTITY % model.milestoneLike_sequenceOptional "pb?, lb?, cb?"> 
<!ENTITY % model.milestoneLike_sequenceOptionalRepeatable "pb*, lb*, cb*"> 
<!ENTITY % model.milestoneLike_sequenceRepeatable "pb+, lb+, cb+"> 
<!ENTITY % model.gLike ""> 
<!ENTITY % model.gLike_sequence ""> 
<!ENTITY % model.gLike_sequenceOptional ""> 
<!ENTITY % model.gLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.gLike_sequenceRepeatable ""> 
<!ENTITY % model.oddDecl ""> 
<!ENTITY % model.oddDecl_sequence ""> 
<!ENTITY % model.oddDecl_sequenceOptional ""> 
<!ENTITY % model.oddDecl_sequenceOptionalRepeatable ""> 
<!ENTITY % model.oddDecl_sequenceRepeatable ""> 
<!ENTITY % model.phrase.xml ""> 
<!ENTITY % model.phrase.xml_sequence ""> 
<!ENTITY % model.phrase.xml_sequenceOptional ""> 
<!ENTITY % model.phrase.xml_sequenceOptionalRepeatable ""> 
<!ENTITY % model.phrase.xml_sequenceRepeatable ""> 
<!ENTITY % model.specDescLike ""> 
<!ENTITY % model.specDescLike_sequence ""> 
<!ENTITY % model.specDescLike_sequenceOptional ""> 
<!ENTITY % model.specDescLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.specDescLike_sequenceRepeatable ""> 
<!ENTITY % model.biblLike "bibl |msDesc"> 
<!ENTITY % model.biblLike_sequence "bibl, msDesc"> 
<!ENTITY % model.biblLike_sequenceOptional "bibl?, msDesc?"> 
<!ENTITY % model.biblLike_sequenceOptionalRepeatable "bibl*, msDesc*"> 
<!ENTITY % model.biblLike_sequenceRepeatable "bibl+, msDesc+"> 
<!ENTITY % model.headLike "head"> 
<!ENTITY % model.headLike_sequence "head"> 
<!ENTITY % model.headLike_sequenceOptional "head?"> 
<!ENTITY % model.headLike_sequenceOptionalRepeatable "head*"> 
<!ENTITY % model.headLike_sequenceRepeatable "head+"> 
<!ENTITY % model.labelLike "desc"> 
<!ENTITY % model.labelLike_sequence "desc"> 
<!ENTITY % model.labelLike_sequenceOptional "desc?"> 
<!ENTITY % model.labelLike_sequenceOptionalRepeatable "desc*"> 
<!ENTITY % model.labelLike_sequenceRepeatable "desc+"> 
<!ENTITY % model.listLike "listPerson |listPlace"> 
<!ENTITY % model.listLike_sequence "listPerson, listPlace"> 
<!ENTITY % model.listLike_sequenceOptional "listPerson?, listPlace?"> 
<!ENTITY % model.listLike_sequenceOptionalRepeatable "listPerson*, listPlace*"> 
<!ENTITY % model.listLike_sequenceRepeatable "listPerson+, listPlace+"> 
<!ENTITY % model.noteLike "note"> 
<!ENTITY % model.noteLike_sequence "note"> 
<!ENTITY % model.noteLike_sequenceOptional "note?"> 
<!ENTITY % model.noteLike_sequenceOptionalRepeatable "note*"> 
<!ENTITY % model.noteLike_sequenceRepeatable "note+"> 
<!ENTITY % model.lLike ""> 
<!ENTITY % model.lLike_sequence ""> 
<!ENTITY % model.lLike_sequenceOptional ""> 
<!ENTITY % model.lLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.lLike_sequenceRepeatable ""> 
<!ENTITY % model.pLike "p"> 
<!ENTITY % model.pLike_sequence "p"> 
<!ENTITY % model.pLike_sequenceOptional "p?"> 
<!ENTITY % model.pLike_sequenceOptionalRepeatable "p*"> 
<!ENTITY % model.pLike_sequenceRepeatable "p+"> 
<!ENTITY % model.stageLike ""> 
<!ENTITY % model.stageLike_sequence ""> 
<!ENTITY % model.stageLike_sequenceOptional ""> 
<!ENTITY % model.stageLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.stageLike_sequenceRepeatable ""> 
<!ENTITY % model.eventLike ""> 
<!ENTITY % model.eventLike_sequence ""> 
<!ENTITY % model.eventLike_sequenceOptional ""> 
<!ENTITY % model.eventLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.eventLike_sequenceRepeatable ""> 
<!ENTITY % model.global.edit ""> 
<!ENTITY % model.global.edit_sequence ""> 
<!ENTITY % model.global.edit_sequenceOptional ""> 
<!ENTITY % model.global.edit_sequenceOptionalRepeatable ""> 
<!ENTITY % model.global.edit_sequenceRepeatable ""> 
<!ENTITY % model.divPart "%model.pLike;"> 
<!ENTITY % model.divPart_sequence "%model.pLike;"> 
<!ENTITY % model.divPart_sequenceOptional "%model.pLike;?"> 
<!ENTITY % model.divPart_sequenceOptionalRepeatable "%model.pLike;*"> 
<!ENTITY % model.divPart_sequenceRepeatable "%model.pLike;+"> 
<!ENTITY % model.persStateLike "persName |occupation |sex"> 
<!ENTITY % model.persStateLike_sequence "persName, occupation, sex"> 
<!ENTITY % model.persStateLike_sequenceOptional "persName?, occupation?, sex?"> 
<!ENTITY % model.persStateLike_sequenceOptionalRepeatable "persName*, occupation*, sex*"> 
<!ENTITY % model.persStateLike_sequenceRepeatable "persName+, occupation+, sex+"> 
<!ENTITY % model.personLike "person"> 
<!ENTITY % model.personLike_sequence "person"> 
<!ENTITY % model.personLike_sequenceOptional "person?"> 
<!ENTITY % model.personLike_sequenceOptionalRepeatable "person*"> 
<!ENTITY % model.personLike_sequenceRepeatable "person+"> 
<!ENTITY % model.personPart "%model.biblLike; |%model.persStateLike; |name |idno"> 
<!ENTITY % model.personPart_sequence "%model.biblLike;, %model.persStateLike;, name, idno"> 
<!ENTITY % model.personPart_sequenceOptional "%model.biblLike;?, %model.persStateLike;?, name?, idno?"> 
<!ENTITY % model.personPart_sequenceOptionalRepeatable "%model.biblLike;*, %model.persStateLike;*, name*, idno*"> 
<!ENTITY % model.personPart_sequenceRepeatable "%model.biblLike;+, %model.persStateLike;+, name+, idno+"> 
<!ENTITY % model.placeNamePart "placeName |country |settlement |district"> 
<!ENTITY % model.placeNamePart_sequence "placeName, country, settlement, district"> 
<!ENTITY % model.placeNamePart_sequenceOptional "placeName?, country?, settlement?, district?"> 
<!ENTITY % model.placeNamePart_sequenceOptionalRepeatable "placeName*, country*, settlement*, district*"> 
<!ENTITY % model.placeNamePart_sequenceRepeatable "placeName+, country+, settlement+, district+"> 
<!ENTITY % model.placeStateLike "%model.placeNamePart;"> 
<!ENTITY % model.placeStateLike_sequence "%model.placeNamePart;"> 
<!ENTITY % model.placeStateLike_sequenceOptional "%model.placeNamePart;?"> 
<!ENTITY % model.placeStateLike_sequenceOptionalRepeatable "%model.placeNamePart;*"> 
<!ENTITY % model.placeStateLike_sequenceRepeatable "%model.placeNamePart;+"> 
<!ENTITY % model.publicationStmtPart.agency "publisher |distributor"> 
<!ENTITY % model.publicationStmtPart.agency_sequence "publisher, distributor"> 
<!ENTITY % model.publicationStmtPart.agency_sequenceOptional "publisher?, distributor?"> 
<!ENTITY % model.publicationStmtPart.agency_sequenceOptionalRepeatable "publisher*, distributor*"> 
<!ENTITY % model.publicationStmtPart.agency_sequenceRepeatable "publisher+, distributor+"> 
<!ENTITY % model.publicationStmtPart.detail "%model.ptrLike; |address |date |pubPlace |idno |availability"> 
<!ENTITY % model.publicationStmtPart.detail_sequence "%model.ptrLike;, address, date, pubPlace, idno, availability"> 
<!ENTITY % model.publicationStmtPart.detail_sequenceOptional "%model.ptrLike;?, address?, date?, pubPlace?, idno?, availability?"> 
<!ENTITY % model.publicationStmtPart.detail_sequenceOptionalRepeatable "%model.ptrLike;*, address*, date*, pubPlace*, idno*, availability*"> 
<!ENTITY % model.publicationStmtPart.detail_sequenceRepeatable "%model.ptrLike;+, address+, date+, pubPlace+, idno+, availability+"> 
<!ENTITY % model.availabilityPart ""> 
<!ENTITY % model.availabilityPart_sequence ""> 
<!ENTITY % model.availabilityPart_sequenceOptional ""> 
<!ENTITY % model.availabilityPart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.availabilityPart_sequenceRepeatable ""> 
<!ENTITY % model.certLike "certainty"> 
<!ENTITY % model.certLike_sequence "certainty"> 
<!ENTITY % model.certLike_sequenceOptional "certainty?"> 
<!ENTITY % model.certLike_sequenceOptionalRepeatable "certainty*"> 
<!ENTITY % model.certLike_sequenceRepeatable "certainty+"> 
<!ENTITY % model.descLike "desc"> 
<!ENTITY % model.descLike_sequence "desc"> 
<!ENTITY % model.descLike_sequenceOptional "desc?"> 
<!ENTITY % model.descLike_sequenceOptionalRepeatable "desc*"> 
<!ENTITY % model.descLike_sequenceRepeatable "desc+"> 
<!ENTITY % model.quoteLike ""> 
<!ENTITY % model.quoteLike_sequence ""> 
<!ENTITY % model.quoteLike_sequenceOptional ""> 
<!ENTITY % model.quoteLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.quoteLike_sequenceRepeatable ""> 
<!ENTITY % model.qLike ""> 
<!ENTITY % model.qLike_sequence ""> 
<!ENTITY % model.qLike_sequenceOptional ""> 
<!ENTITY % model.qLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.qLike_sequenceRepeatable ""> 
<!ENTITY % model.respLike "author |respStmt"> 
<!ENTITY % model.respLike_sequence "author, respStmt"> 
<!ENTITY % model.respLike_sequenceOptional "author?, respStmt?"> 
<!ENTITY % model.respLike_sequenceOptionalRepeatable "author*, respStmt*"> 
<!ENTITY % model.respLike_sequenceRepeatable "author+, respStmt+"> 
<!ENTITY % model.divWrapper "dateline"> 
<!ENTITY % model.divWrapper_sequence "dateline"> 
<!ENTITY % model.divWrapper_sequenceOptional "dateline?"> 
<!ENTITY % model.divWrapper_sequenceOptionalRepeatable "dateline*"> 
<!ENTITY % model.divWrapper_sequenceRepeatable "dateline+"> 
<!ENTITY % model.divTopPart "%model.headLike;"> 
<!ENTITY % model.divTopPart_sequence "%model.headLike;"> 
<!ENTITY % model.divTopPart_sequenceOptional "%model.headLike;?"> 
<!ENTITY % model.divTopPart_sequenceOptionalRepeatable "%model.headLike;*"> 
<!ENTITY % model.divTopPart_sequenceRepeatable "%model.headLike;+"> 
<!ENTITY % model.divTop "%model.divWrapper; |%model.divTopPart;"> 
<!ENTITY % model.divTop_sequence "%model.divWrapper;, %model.divTopPart;"> 
<!ENTITY % model.divTop_sequenceOptional "%model.divWrapper;?, %model.divTopPart;?"> 
<!ENTITY % model.divTop_sequenceOptionalRepeatable "%model.divWrapper;*, %model.divTopPart;*"> 
<!ENTITY % model.divTop_sequenceRepeatable "%model.divWrapper;+, %model.divTopPart;+"> 
<!ENTITY % model.divBottomPart ""> 
<!ENTITY % model.divBottomPart_sequence ""> 
<!ENTITY % model.divBottomPart_sequenceOptional ""> 
<!ENTITY % model.divBottomPart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.divBottomPart_sequenceRepeatable ""> 
<!ENTITY % model.divBottom "%model.divWrapper;"> 
<!ENTITY % model.divBottom_sequence "%model.divWrapper;"> 
<!ENTITY % model.divBottom_sequenceOptional "%model.divWrapper;?"> 
<!ENTITY % model.divBottom_sequenceOptionalRepeatable "%model.divWrapper;*"> 
<!ENTITY % model.divBottom_sequenceRepeatable "%model.divWrapper;+"> 
<!ENTITY % model.choicePart "sic |corr |unclear |abbr |expan"> 
<!ENTITY % model.choicePart_sequence "sic, corr, unclear, abbr, expan"> 
<!ENTITY % model.choicePart_sequenceOptional "sic?, corr?, unclear?, abbr?, expan?"> 
<!ENTITY % model.choicePart_sequenceOptionalRepeatable "sic*, corr*, unclear*, abbr*, expan*"> 
<!ENTITY % model.choicePart_sequenceRepeatable "sic+, corr+, unclear+, abbr+, expan+"> 
<!ENTITY % model.imprintPart "publisher |pubPlace |distributor"> 
<!ENTITY % model.imprintPart_sequence "publisher, pubPlace, distributor"> 
<!ENTITY % model.imprintPart_sequenceOptional "publisher?, pubPlace?, distributor?"> 
<!ENTITY % model.imprintPart_sequenceOptionalRepeatable "publisher*, pubPlace*, distributor*"> 
<!ENTITY % model.imprintPart_sequenceRepeatable "publisher+, pubPlace+, distributor+"> 
<!ENTITY % model.addressLike "address"> 
<!ENTITY % model.addressLike_sequence "address"> 
<!ENTITY % model.addressLike_sequenceOptional "address?"> 
<!ENTITY % model.addressLike_sequenceOptionalRepeatable "address*"> 
<!ENTITY % model.addressLike_sequenceRepeatable "address+"> 
<!ENTITY % model.nameLike "%model.nameLike.agent; |%model.placeStateLike; |idno |%model.persNamePart;"> 
<!ENTITY % model.nameLike_sequence "%model.nameLike.agent;, %model.placeStateLike;, idno, %model.persNamePart;"> 
<!ENTITY % model.nameLike_sequenceOptional "%model.nameLike.agent;?, %model.placeStateLike;?, idno?, %model.persNamePart;?"> 
<!ENTITY % model.nameLike_sequenceOptionalRepeatable "%model.nameLike.agent;*, %model.placeStateLike;*, idno*, %model.persNamePart;*"> 
<!ENTITY % model.nameLike_sequenceRepeatable "%model.nameLike.agent;+, %model.placeStateLike;+, idno+, %model.persNamePart;+"> 
<!ENTITY % model.global "%model.global.meta; |%model.milestoneLike; |%model.noteLike; |figure"> 
<!ENTITY % model.global_sequence "%model.global.meta;, %model.milestoneLike;, %model.noteLike;, figure"> 
<!ENTITY % model.global_sequenceOptional "%model.global.meta;?, %model.milestoneLike;?, %model.noteLike;?, figure?"> 
<!ENTITY % model.global_sequenceOptionalRepeatable "%model.global.meta;*, %model.milestoneLike;*, %model.noteLike;*, figure*"> 
<!ENTITY % model.global_sequenceRepeatable "%model.global.meta;+, %model.milestoneLike;+, %model.noteLike;+, figure+"> 
<!ENTITY % model.biblPart "%model.respLike; |%model.imprintPart; |bibl |textLang |edition |availability |msIdentifier"> 
<!ENTITY % model.biblPart_sequence "%model.respLike;, %model.imprintPart;, bibl, textLang, edition, availability, msIdentifier"> 
<!ENTITY % model.biblPart_sequenceOptional "%model.respLike;?, %model.imprintPart;?, bibl?, textLang?, edition?, availability?, msIdentifier?"> 
<!ENTITY % model.biblPart_sequenceOptionalRepeatable "%model.respLike;*, %model.imprintPart;*, bibl*, textLang*, edition*, availability*, msIdentifier*"> 
<!ENTITY % model.biblPart_sequenceRepeatable "%model.respLike;+, %model.imprintPart;+, bibl+, textLang+, edition+, availability+, msIdentifier+"> 
<!ENTITY % model.addrPart "%model.nameLike; |addrLine"> 
<!ENTITY % model.addrPart_sequence "%model.nameLike;, addrLine"> 
<!ENTITY % model.addrPart_sequenceOptional "%model.nameLike;?, addrLine?"> 
<!ENTITY % model.addrPart_sequenceOptionalRepeatable "%model.nameLike;*, addrLine*"> 
<!ENTITY % model.addrPart_sequenceRepeatable "%model.nameLike;+, addrLine+"> 
<!ENTITY % model.pPart.data "%model.dateLike; |%model.measureLike; |%model.addressLike; |%model.nameLike;"> 
<!ENTITY % model.pPart.data_sequence "%model.dateLike;, %model.measureLike;, %model.addressLike;, %model.nameLike;"> 
<!ENTITY % model.pPart.data_sequenceOptional "%model.dateLike;?, %model.measureLike;?, %model.addressLike;?, %model.nameLike;?"> 
<!ENTITY % model.pPart.data_sequenceOptionalRepeatable "%model.dateLike;*, %model.measureLike;*, %model.addressLike;*, %model.nameLike;*"> 
<!ENTITY % model.pPart.data_sequenceRepeatable "%model.dateLike;+, %model.measureLike;+, %model.addressLike;+, %model.nameLike;+"> 
<!ENTITY % model.inter "%model.biblLike; |%model.labelLike; |%model.listLike;"> 
<!ENTITY % model.inter_sequence "%model.biblLike;, %model.labelLike;, %model.listLike;"> 
<!ENTITY % model.inter_sequenceOptional "%model.biblLike;?, %model.labelLike;?, %model.listLike;?"> 
<!ENTITY % model.inter_sequenceOptionalRepeatable "%model.biblLike;*, %model.labelLike;*, %model.listLike;*"> 
<!ENTITY % model.inter_sequenceRepeatable "%model.biblLike;+, %model.labelLike;+, %model.listLike;+"> 
<!ENTITY % model.common "%model.divPart; |%model.inter;"> 
<!ENTITY % model.common_sequence "%model.divPart;, %model.inter;"> 
<!ENTITY % model.common_sequenceOptional "%model.divPart;?, %model.inter;?"> 
<!ENTITY % model.common_sequenceOptionalRepeatable "%model.divPart;*, %model.inter;*"> 
<!ENTITY % model.common_sequenceRepeatable "%model.divPart;+, %model.inter;+"> 
<!ENTITY % model.phrase "%model.segLike; |%model.highlighted; |%model.graphicLike; |%model.pPart.msdesc; |%model.pPart.edit; |%model.ptrLike; |%model.pPart.data;"> 
<!ENTITY % model.phrase_sequence "%model.segLike;, %model.highlighted;, %model.graphicLike;, %model.pPart.msdesc;, %model.pPart.edit;, %model.ptrLike;, %model.pPart.data;"> 
<!ENTITY % model.phrase_sequenceOptional "%model.segLike;?, %model.highlighted;?, %model.graphicLike;?, %model.pPart.msdesc;?, %model.pPart.edit;?, %model.ptrLike;?, %model.pPart.data;?"> 
<!ENTITY % model.phrase_sequenceOptionalRepeatable "%model.segLike;*, %model.highlighted;*, %model.graphicLike;*, %model.pPart.msdesc;*, %model.pPart.edit;*, %model.ptrLike;*, %model.pPart.data;*"> 
<!ENTITY % model.phrase_sequenceRepeatable "%model.segLike;+, %model.highlighted;+, %model.graphicLike;+, %model.pPart.msdesc;+, %model.pPart.edit;+, %model.ptrLike;+, %model.pPart.data;+"> 
<!ENTITY % model.limitedPhrase "%model.hiLike; |%model.emphLike; |%model.pPart.msdesc; |%model.pPart.editorial; |%model.ptrLike; |%model.pPart.data;"> 
<!ENTITY % model.limitedPhrase_sequence "%model.hiLike;, %model.emphLike;, %model.pPart.msdesc;, %model.pPart.editorial;, %model.ptrLike;, %model.pPart.data;"> 
<!ENTITY % model.limitedPhrase_sequenceOptional "%model.hiLike;?, %model.emphLike;?, %model.pPart.msdesc;?, %model.pPart.editorial;?, %model.ptrLike;?, %model.pPart.data;?"> 
<!ENTITY % model.limitedPhrase_sequenceOptionalRepeatable "%model.hiLike;*, %model.emphLike;*, %model.pPart.msdesc;*, %model.pPart.editorial;*, %model.ptrLike;*, %model.pPart.data;*"> 
<!ENTITY % model.limitedPhrase_sequenceRepeatable "%model.hiLike;+, %model.emphLike;+, %model.pPart.msdesc;+, %model.pPart.editorial;+, %model.ptrLike;+, %model.pPart.data;+"> 
<!ENTITY % model.divLike "div"> 
<!ENTITY % model.divLike_sequence "div"> 
<!ENTITY % model.divLike_sequenceOptional "div?"> 
<!ENTITY % model.divLike_sequenceOptionalRepeatable "div*"> 
<!ENTITY % model.divLike_sequenceRepeatable "div+"> 
<!ENTITY % model.divGenLike ""> 
<!ENTITY % model.divGenLike_sequence ""> 
<!ENTITY % model.divGenLike_sequenceOptional ""> 
<!ENTITY % model.divGenLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.divGenLike_sequenceRepeatable ""> 
<!ENTITY % model.div1Like ""> 
<!ENTITY % model.div1Like_sequence ""> 
<!ENTITY % model.div1Like_sequenceOptional ""> 
<!ENTITY % model.div1Like_sequenceOptionalRepeatable ""> 
<!ENTITY % model.div1Like_sequenceRepeatable ""> 
<!ENTITY % model.teiHeaderPart "profileDesc"> 
<!ENTITY % model.teiHeaderPart_sequence "profileDesc"> 
<!ENTITY % model.teiHeaderPart_sequenceOptional "profileDesc?"> 
<!ENTITY % model.teiHeaderPart_sequenceOptionalRepeatable "profileDesc*"> 
<!ENTITY % model.teiHeaderPart_sequenceRepeatable "profileDesc+"> 
<!ENTITY % model.sourceDescPart ""> 
<!ENTITY % model.sourceDescPart_sequence ""> 
<!ENTITY % model.sourceDescPart_sequenceOptional ""> 
<!ENTITY % model.sourceDescPart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.sourceDescPart_sequenceRepeatable ""> 
<!ENTITY % model.profileDescPart "langUsage |textClass |correspDesc"> 
<!ENTITY % model.profileDescPart_sequence "langUsage, textClass, correspDesc"> 
<!ENTITY % model.profileDescPart_sequenceOptional "langUsage?, textClass?, correspDesc?"> 
<!ENTITY % model.profileDescPart_sequenceOptionalRepeatable "langUsage*, textClass*, correspDesc*"> 
<!ENTITY % model.profileDescPart_sequenceRepeatable "langUsage+, textClass+, correspDesc+"> 
<!ENTITY % model.correspActionPart "%model.dateLike; |%model.addressLike; |%model.nameLike; |note"> 
<!ENTITY % model.correspActionPart_sequence "%model.dateLike;, %model.addressLike;, %model.nameLike;, note"> 
<!ENTITY % model.correspActionPart_sequenceOptional "%model.dateLike;?, %model.addressLike;?, %model.nameLike;?, note?"> 
<!ENTITY % model.correspActionPart_sequenceOptionalRepeatable "%model.dateLike;*, %model.addressLike;*, %model.nameLike;*, note*"> 
<!ENTITY % model.correspActionPart_sequenceRepeatable "%model.dateLike;+, %model.addressLike;+, %model.nameLike;+, note+"> 
<!ENTITY % model.correspDescPart "note |correspAction"> 
<!ENTITY % model.correspDescPart_sequence "note, correspAction"> 
<!ENTITY % model.correspDescPart_sequenceOptional "note?, correspAction?"> 
<!ENTITY % model.correspDescPart_sequenceOptionalRepeatable "note*, correspAction*"> 
<!ENTITY % model.correspDescPart_sequenceRepeatable "note+, correspAction+"> 
<!ENTITY % model.resourceLike "text |facsimile"> 
<!ENTITY % model.resourceLike_sequence "text, facsimile"> 
<!ENTITY % model.resourceLike_sequenceOptional "text?, facsimile?"> 
<!ENTITY % model.resourceLike_sequenceOptionalRepeatable "text*, facsimile*"> 
<!ENTITY % model.resourceLike_sequenceRepeatable "text+, facsimile+"> 
<!ENTITY % tei_att.personal.attribute.full '
full (yes|abb|init) "yes" '>

<!ENTITY % tei_att.personal.attribute.sort '
sort %teidata.count;  #IMPLIED'>
<!ENTITY % tei_att.personal.attributes '%tei_att.naming.attributes;
 %tei_att.personal.attribute.full;
 %tei_att.personal.attribute.sort;'> 
<!ENTITY % model.placeLike "place"> 
<!ENTITY % model.placeLike_sequence "place"> 
<!ENTITY % model.placeLike_sequenceOptional "place?"> 
<!ENTITY % model.placeLike_sequenceOptionalRepeatable "place*"> 
<!ENTITY % model.placeLike_sequenceRepeatable "place+"> 
<!ENTITY % tei_att.linguistic.attribute.lemma '
lemma %teidata.text;  #IMPLIED'>

<!ENTITY % tei_att.linguistic.attribute.lemmaRef '
lemmaRef %teidata.pointer;  #IMPLIED'>

<!ENTITY % tei_att.linguistic.attribute.pos '
pos %teidata.text;  #IMPLIED'>

<!ENTITY % tei_att.linguistic.attribute.msd '
msd %teidata.text;  #IMPLIED'>

<!ENTITY % tei_att.linguistic.attribute.join '
join (no|left|right|both|overlap) #IMPLIED'>
<!ENTITY % tei_att.linguistic.attributes '
 %tei_att.linguistic.attribute.lemma;
 %tei_att.linguistic.attribute.lemmaRef;
 %tei_att.linguistic.attribute.pos;
 %tei_att.linguistic.attribute.msd;
 %tei_att.linguistic.attribute.join;'> 
<!ENTITY % tei_att.global.analytic.attribute.ana '
ana CDATA  #IMPLIED'>
<!ENTITY % tei_att.global.analytic.attributes '
 %tei_att.global.analytic.attribute.ana;'> 
<!ENTITY % model.physDescPart "objectDesc"> 
<!ENTITY % model.physDescPart_sequence "objectDesc"> 
<!ENTITY % model.physDescPart_sequenceOptional "objectDesc?"> 
<!ENTITY % model.physDescPart_sequenceOptionalRepeatable "objectDesc*"> 
<!ENTITY % model.physDescPart_sequenceRepeatable "objectDesc+"> 
<!ENTITY % tei_att.msExcerpt.attribute.defective '
defective %teidata.xTruthValue;  #IMPLIED'>
<!ENTITY % tei_att.msExcerpt.attributes '
 %tei_att.msExcerpt.attribute.defective;'> 
<!ENTITY % tei_att.msClass.attribute.class '
class CDATA  #IMPLIED'>
<!ENTITY % tei_att.msClass.attributes '
 %tei_att.msClass.attribute.class;'> 
<!ENTITY % tei_att.datable.custom.attribute.when-custom '
when-custom CDATA  #IMPLIED'>

<!ENTITY % tei_att.datable.custom.attribute.notBefore-custom '
notBefore-custom CDATA  #IMPLIED'>

<!ENTITY % tei_att.datable.custom.attribute.notAfter-custom '
notAfter-custom CDATA  #IMPLIED'>

<!ENTITY % tei_att.datable.custom.attribute.from-custom '
from-custom CDATA  #IMPLIED'>

<!ENTITY % tei_att.datable.custom.attribute.to-custom '
to-custom CDATA  #IMPLIED'>

<!ENTITY % tei_att.datable.custom.attribute.datingPoint '
datingPoint %teidata.pointer;  #IMPLIED'>

<!ENTITY % tei_att.datable.custom.attribute.datingMethod '
datingMethod %teidata.pointer;  #IMPLIED'>
<!ENTITY % tei_att.datable.custom.attributes '
 %tei_att.datable.custom.attribute.when-custom;
 %tei_att.datable.custom.attribute.notBefore-custom;
 %tei_att.datable.custom.attribute.notAfter-custom;
 %tei_att.datable.custom.attribute.from-custom;
 %tei_att.datable.custom.attribute.to-custom;
 %tei_att.datable.custom.attribute.datingPoint;
 %tei_att.datable.custom.attribute.datingMethod;'> 
<!ENTITY % model.persNamePart "surname |forename"> 
<!ENTITY % model.persNamePart_sequence "surname, forename"> 
<!ENTITY % model.persNamePart_sequenceOptional "surname?, forename?"> 
<!ENTITY % model.persNamePart_sequenceOptionalRepeatable "surname*, forename*"> 
<!ENTITY % model.persNamePart_sequenceRepeatable "surname+, forename+"> 
<!ENTITY % tei_att.datable.iso.attribute.when-iso '
when-iso %teidata.temporal.iso;  #IMPLIED'>

<!ENTITY % tei_att.datable.iso.attribute.notBefore-iso '
notBefore-iso %teidata.temporal.iso;  #IMPLIED'>

<!ENTITY % tei_att.datable.iso.attribute.notAfter-iso '
notAfter-iso %teidata.temporal.iso;  #IMPLIED'>

<!ENTITY % tei_att.datable.iso.attribute.from-iso '
from-iso %teidata.temporal.iso;  #IMPLIED'>

<!ENTITY % tei_att.datable.iso.attribute.to-iso '
to-iso %teidata.temporal.iso;  #IMPLIED'>
<!ENTITY % tei_att.datable.iso.attributes '
 %tei_att.datable.iso.attribute.when-iso;
 %tei_att.datable.iso.attribute.notBefore-iso;
 %tei_att.datable.iso.attribute.notAfter-iso;
 %tei_att.datable.iso.attribute.from-iso;
 %tei_att.datable.iso.attribute.to-iso;'> 
<!ENTITY % tei_att.global.facs.attribute.facs '
facs CDATA  #IMPLIED'>
<!ENTITY % tei_att.global.facs.attributes '
 %tei_att.global.facs.attribute.facs;'> 
<!ENTITY % tei_att.global.change.attribute.change '
change CDATA  #IMPLIED'>
<!ENTITY % tei_att.global.change.attributes '
 %tei_att.global.change.attribute.change;'> 
<!ENTITY % tei_att.coordinated.attribute.start '
start %teidata.pointer;  #IMPLIED'>

<!ENTITY % tei_att.coordinated.attribute.ulx '
ulx %teidata.numeric;  #IMPLIED'>

<!ENTITY % tei_att.coordinated.attribute.uly '
uly %teidata.numeric;  #IMPLIED'>

<!ENTITY % tei_att.coordinated.attribute.lrx '
lrx %teidata.numeric;  #IMPLIED'>

<!ENTITY % tei_att.coordinated.attribute.lry '
lry %teidata.numeric;  #IMPLIED'>

<!ENTITY % tei_att.coordinated.attribute.points '
points CDATA  #IMPLIED'>
<!ENTITY % tei_att.coordinated.attributes '
 %tei_att.coordinated.attribute.start;
 %tei_att.coordinated.attribute.ulx;
 %tei_att.coordinated.attribute.uly;
 %tei_att.coordinated.attribute.lrx;
 %tei_att.coordinated.attribute.lry;
 %tei_att.coordinated.attribute.points;'> 
<!-- start rest of patterns -->

<!ENTITY % macro.paraContent '(#PCDATA|_DUMMY_model.gLike|%model.phrase;|%model.inter;|%model.global;|lg|_DUMMY_model.lLike)*' >

<!ENTITY % macro.limitedContent '(#PCDATA|%model.limitedPhrase;|%model.inter;)*' >

<!ENTITY % macro.phraseSeq '(#PCDATA|_DUMMY_model.gLike|_DUMMY_model.qLike|%model.phrase;|%model.global;)*' >

<!ENTITY % macro.phraseSeq.limited '(#PCDATA|%model.limitedPhrase;|%model.global;)*' >

<!ENTITY % macro.specialPara '(#PCDATA|_DUMMY_model.gLike|%model.phrase;|%model.inter;|%model.divPart;|%model.global;)*' >

<!ENTITY % macro.xtext '(#PCDATA|_DUMMY_model.gLike)*' >

<!-- end patterns -->

<!-- start elements -->

<!--doc:(TEI document) contains a single TEI-conformant document, combining a single TEI header with one or more members of the model.resourceLike class. Multiple TEI elements may be combined to form a teiCorpus element. [4. Default Text Structure 15.1. Varieties of Composite Text] -->
<!ELEMENT TEI ((teiHeader,(%model.resourceLike;)+))>
<!ATTLIST TEI xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST TEI xsi:schemaLocation CDATA #IMPLIED
 xmlns:xsi CDATA #FIXED 'http://www.w3.org/2001/XMLSchema-instance'
 >
<!--doc:(abbreviation) contains an abbreviation of any sort. [3.5.5. Abbreviations and Their Expansions] -->
<!ELEMENT abbr %macro.phraseSeq;>
<!ATTLIST abbr xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST abbr
type %teidata.enumerated;  #IMPLIED >
<!--doc:(address line) contains one line of a postal address. [3.5.2. Addresses 2.2.4. Publication, Distribution, Licensing, etc. 3.11.2.4. Imprint, Size of a Document, and Reprint Information] -->
<!ELEMENT addrLine %macro.phraseSeq;>
<!ATTLIST addrLine xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:contains a postal address, for example of a publisher, an organization, or an individual. [3.5.2. Addresses 2.2.4. Publication, Distribution, Licensing, etc. 3.11.2.4. Imprint, Size of a Document, and Reprint Information] -->
<!ELEMENT address (((%model.global;)*,((%model.addrPart;),(%model.global;)*)+))>
<!ATTLIST address xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:in a bibliographic reference, contains the name(s) of an author, personal or corporate, of a work; for example in the same form as that provided by a recognized bibliographic name authority. [3.11.2.2. Titles, Authors, and Editors 2.2.1. The Title Statement] -->
<!ELEMENT author %macro.phraseSeq;>
<!ATTLIST author xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST author
 %tei_att.canonical.attribute.ref; >
<!--doc:supplies information about the availability of a text, for example any restrictions on its use or distribution, its copyright status, any licence applying to it, etc. [2.2.4. Publication, Distribution, Licensing, etc.] -->
<!ELEMENT availability (_DUMMY_model.availabilityPart|%model.pLike;)+>
<!ATTLIST availability xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(bibliographic citation) contains a loosely-structured bibliographic citation of which the sub-components may or may not be explicitly tagged. [3.11.1. Methods of Encoding Bibliographic References and Lists of References 2.2.7. The Source Description 15.3.2. Declarable Elements] -->
<!ELEMENT bibl (#PCDATA|_DUMMY_model.gLike|%model.highlighted;|%model.pPart.data;|%model.pPart.edit;|%model.segLike;|%model.ptrLike;|%model.biblPart;|%model.global;)*>
<!ATTLIST bibl xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(text body) contains the whole body of a single unitary text, excluding any front or back matter. [4. Default Text Structure] -->
<!ELEMENT body (((%model.global;)*,((%model.divTop;),(%model.global;|%model.divTop;)*)?,((_DUMMY_model.divGenLike),(%model.global;|_DUMMY_model.divGenLike)*)?,(((%model.divLike;),(%model.global;|_DUMMY_model.divGenLike)*)+|((_DUMMY_model.div1Like),(%model.global;|_DUMMY_model.divGenLike)*)+|(((%model.common;),(%model.global;)*)+,(((%model.divLike;),(%model.global;|_DUMMY_model.divGenLike)*)+|((_DUMMY_model.div1Like),(%model.global;|_DUMMY_model.divGenLike)*)+)?)),((%model.divBottom;),(%model.global;)*)*))>
<!ATTLIST body xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(column beginning) marks the beginning of a new column of a text on a multi-column page. [3.10.3. Milestone
Elements] -->
<!ELEMENT cb  EMPTY>
<!ATTLIST cb xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:indicates the degree of certainty associated with some aspect of the text markup. [21.1.2. Structured Indications of Uncertainty] -->
<!ELEMENT certainty (%model.descLike;|%model.certLike;)*>
<!ATTLIST certainty xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST certainty
 %tei_att.scoping.attribute.target;
cert %teidata.certainty;  #IMPLIED
locus (name|start|end|location|value) #REQUIRED >
<!--doc:groups a number of alternative encodings for the same point in a text. [3.4. Simple Editorial Changes] -->
<!ELEMENT choice (%model.choicePart;|choice)+>
<!ATTLIST choice xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:contains a description of the physical condition of the manuscript or object. [10.7.1.5. Condition] -->
<!ELEMENT condition %macro.specialPara;>
<!ATTLIST condition xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(correction) contains the correct form of a passage apparently erroneous in the copy text. [3.4.1. Apparent Errors] -->
<!ELEMENT corr %macro.paraContent;>
<!ATTLIST corr xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(correspondence action) contains a structured description of the place, the name of a person/organization and the date related to the sending/receiving of a message or any other action related to the correspondence. [2.4.6. Correspondence Description] -->
<!ELEMENT correspAction ((%model.correspActionPart;)+|(%model.pLike;)+)>
<!ATTLIST correspAction xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST correspAction
type %teidata.enumerated;  #IMPLIED >
<!--doc:(correspondence
    description) contains a description of the actions related to one act of correspondence. [2.4.6. Correspondence Description] -->
<!ELEMENT correspDesc ((%model.correspDescPart;)+|(%model.pLike;)+)>
<!ATTLIST correspDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:contains the name of a geo-political unit, such as a nation, country, colony, or commonwealth, larger than or administratively superior to a region and smaller than a bloc. [13.2.3. Place Names] -->
<!ELEMENT country %macro.phraseSeq;>
<!ATTLIST country xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST country
 %tei_att.canonical.attribute.key; >
<!--doc:contains a date in any format. [3.5.4. Dates and Times 2.2.4. Publication, Distribution, Licensing, etc. 2.6. The Revision Description 3.11.2.4. Imprint, Size of a Document, and Reprint Information 15.2.3. The Setting Description 13.3.7. Dates and Times] -->
<!ELEMENT date (#PCDATA|_DUMMY_model.gLike|%model.phrase;|%model.global;)*>
<!ATTLIST date xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST date
 %tei_att.datable.w3c.attribute.when;
 %tei_att.typed.attribute.type; >
<!--doc:contains a brief description of the place, date, time, etc. of production of a letter, newspaper story, or other work, prefixed or suffixed to it as a kind of heading or trailer. [4.2.2. Openers and Closers] -->
<!ELEMENT dateline (#PCDATA|_DUMMY_model.gLike|%model.phrase;|%model.global;|docDate)*>
<!ATTLIST dateline xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(description) contains a brief description of the object documented by its parent element, typically a documentation element or an entity. [22.4.1. Description of Components] -->
<!ELEMENT desc %macro.limitedContent;>
<!ATTLIST desc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST desc
 %tei_att.global.attributes;
 %tei_att.translatable.attributes;
 %tei_att.typed.attribute.subtype;
type %teidata.enumerated;  #IMPLIED >
<!--doc:contains a dimensional specification. [10.3.4. Dimensions] -->
<!ELEMENT dimensions (dim|%model.dimLike;)*>
<!ATTLIST dimensions xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST dimensions
 %tei_att.dimensions.attribute.unit; >
<!--doc:identifies any word or phrase which is regarded as linguistically distinct, for example as archaic, technical, dialectal, non-preferred, etc., or as forming part of a sublanguage. [3.3.2.3. Other Linguistically Distinct Material] -->
<!ELEMENT distinct %macro.phraseSeq;>
<!ATTLIST distinct xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST distinct
type %teidata.enumerated;  #IMPLIED >
<!--doc:supplies the name of a person or other agency responsible for the distribution of a text. [2.2.4. Publication, Distribution, Licensing, etc.] -->
<!ELEMENT distributor %macro.phraseSeq;>
<!ATTLIST distributor xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:contains the name of any kind of subdivision of a settlement, such as a parish, ward, or other administrative or geographic unit. [13.2.3. Place Names] -->
<!ELEMENT district %macro.phraseSeq;>
<!ATTLIST district xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST district
 %tei_att.typed.attribute.type; >
<!--doc:(text division) contains a subdivision of the front, body, or back of a text. [4.1. Divisions of the Body] -->
<!ELEMENT div (((%model.divTop;|%model.global;)*,((((%model.divLike;|_DUMMY_model.divGenLike),(%model.global;)*)+|(((%model.common;),(%model.global;)*)+,((%model.divLike;|_DUMMY_model.divGenLike),(%model.global;)*)*)),((%model.divBottom;),(%model.global;)*)*)?))>
<!ATTLIST div xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST div
 %tei_att.global.attribute.xmlid;
 %tei_att.global.facs.attribute.facs;
 %tei_att.typed.attribute.type; >
<!--doc:describes the particularities of one edition of a text. [2.2.2. The Edition Statement] -->
<!ELEMENT edition %macro.phraseSeq;>
<!ATTLIST edition xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(edition statement) groups information relating to one edition of a text. [2.2.2. The Edition Statement 2.2. The File Description] -->
<!ELEMENT editionStmt ((%model.pLike;)+|(edition,(%model.respLike;)*))>
<!ATTLIST editionStmt xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST editionStmt
 %tei_att.global.attribute.xmlid; >
<!--doc:(expansion) contains the expansion of an abbreviation. [3.5.5. Abbreviations and Their Expansions] -->
<!ELEMENT expan %macro.phraseSeq;>
<!ATTLIST expan xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:contains a representation of some written source in the form of a set of images rather than as transcribed or encoded text. [11.1. Digital Facsimiles] -->
<!ELEMENT facsimile (((front)?,(%model.graphicLike;|surface|surfaceGrp)+,(back)?))>
<!ATTLIST facsimile xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST facsimile
 %tei_att.global.attribute.xmlid; >
<!--doc:(description of figure) contains a brief prose description of the appearance or content of a graphic figure, for use when documenting an image without displaying it. [14.4. Specific Elements for Graphic Images] -->
<!ELEMENT figDesc %macro.limitedContent;>
<!ATTLIST figDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:groups elements representing or containing graphic information such as an illustration, formula, or figure. [14.4. Specific Elements for Graphic Images] -->
<!ELEMENT figure (%model.headLike;|%model.common;|figDesc|%model.graphicLike;|%model.global;|%model.divBottom;)*>
<!ATTLIST figure xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(file description) contains a full bibliographic description of an electronic file. [2.2. The File Description 2.1.1. The TEI Header and Its Components] -->
<!ELEMENT fileDesc (((titleStmt,(editionStmt)?,(extent)?,publicationStmt,(seriesStmt)?,(notesStmt)?),(sourceDesc)+))>
<!ATTLIST fileDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:identifies a word or phrase as belonging to some language other than that of the surrounding text. [3.3.2.1. Foreign Words or Expressions] -->
<!ELEMENT foreign %macro.phraseSeq;>
<!ATTLIST foreign xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST foreign
 %tei_att.global.attribute.xmllang; >
<!--doc:contains a forename, given or baptismal name. [13.2.1. Personal Names] -->
<!ELEMENT forename %macro.phraseSeq;>
<!ATTLIST forename xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST forename
 %tei_att.canonical.attribute.ref;
 %tei_att.typed.attribute.type; >
<!--doc:indicates the location of a graphic or illustration, either forming part of a text, or providing an image of it. [3.9. Graphics and Other Non-textual Components 11.1. Digital Facsimiles] -->
<!ELEMENT graphic (%model.descLike;)*>
<!ATTLIST graphic xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST graphic
 %tei_att.media.attribute.width;
 %tei_att.media.attribute.height;
 %tei_att.resourced.attributes; >
<!--doc:(heading) contains any type of heading, for example the title of a section, or the heading of a list, glossary, manuscript description, etc. [4.2.1. Headings and Trailers] -->
<!ELEMENT head (#PCDATA|lg|_DUMMY_model.gLike|%model.phrase;|%model.inter;|_DUMMY_model.lLike|%model.global;)*>
<!ATTLIST head xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:contains a measurement measured along the axis at right angles to the bottom of the written surface, i.e. parallel to the spine for a codex or book. [10.3.4. Dimensions] -->
<!ELEMENT height %macro.xtext;>
<!ATTLIST height xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(highlighted) marks a word or phrase as graphically distinct from the surrounding text, for reasons concerning which no claim is made. [3.3.2.2. Emphatic Words and Phrases 3.3.2. Emphasis, Foreign Words, and Unusual Language] -->
<!ELEMENT hi %macro.paraContent;>
<!ATTLIST hi xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST hi
 %tei_att.global.rendition.attribute.rend; >
<!--doc:(identifier) supplies any form of identifier used to identify some object, such as a bibliographic item, a person, a title, an organization, etc. in a standardized way. [2.2.4. Publication, Distribution, Licensing, etc. 2.2.5. The Series Statement 3.11.2.4. Imprint, Size of a Document, and Reprint Information] -->
<!ELEMENT idno (#PCDATA|_DUMMY_model.gLike|idno)*>
<!ATTLIST idno xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(interpretation) summarizes a specific interpretative annotation which can be linked to a span of text. [17.3. Spans and Interpretations] -->
<!ELEMENT interp (#PCDATA|_DUMMY_model.gLike|%model.descLike;|%model.certLike;)*>
<!ATTLIST interp xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:contains a list of keywords or phrases identifying the topic or nature of a text. [2.4.3. The Text Classification] -->
<!ELEMENT keywords ((term)+|list)>
<!ATTLIST keywords xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(language usage) describes the languages, sublanguages, registers, dialects, etc. represented within a text. [2.4.2. Language Usage 2.4. The Profile Description 15.3.2. Declarable Elements] -->
<!ELEMENT langUsage ((%model.pLike;)+|(language)+)>
<!ATTLIST langUsage xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:characterizes a single language or sublanguage used within a text. [2.4.2. Language Usage] -->
<!ELEMENT language %macro.phraseSeq.limited;>
<!ATTLIST language xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST language
ident %teidata.language;  #REQUIRED >
<!--doc:(line beginning) marks the beginning of a new (typographic) line in some edition or version of a text. [3.10.3. Milestone
Elements 7.2.5. Speech Contents] -->
<!ELEMENT lb  EMPTY>
<!ATTLIST lb xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(list of persons) contains a list of descriptions, each of which provides information about an identifiable person or a group of people, for example the participants in a language interaction, or the people referred to in a historical source. [13.3.2. The Person Element 15.2. Contextual Information 2.4. The Profile Description 15.3.2. Declarable Elements] -->
<!ELEMENT listPerson (((%model.headLike;)*,(%model.personLike;|listPerson)+,(relation|listRelation)*))>
<!ATTLIST listPerson xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(list of places) contains a list of places, optionally followed by a list of relationships (other than containment) defined amongst them. [2.2.7. The Source Description 13.3.4. Places] -->
<!ELEMENT listPlace (((%model.headLike;)*,(%model.placeLike;|listPlace)+,(relation|listRelation)*))>
<!ATTLIST listPlace xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:contains a word or phrase describing the material of which the object being described is composed. [10.3.2. Material and Object Type] -->
<!ELEMENT material %macro.phraseSeq;>
<!ATTLIST material xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:marks words or phrases mentioned, not used. [3.3.3. Quotation] -->
<!ELEMENT mentioned %macro.phraseSeq;>
<!ATTLIST mentioned xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(manuscript contents) describes the intellectual content of a manuscript, manuscript part, or other object either as a series of paragraphs or as a series of structured manuscript items. [10.6. Intellectual Content] -->
<!ELEMENT msContents ((%model.pLike;)+|((summary)?,(textLang)?,(titlePage)?,(msItem|msItemStruct)*))>
<!ATTLIST msContents xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(manuscript description) contains a description of a single identifiable manuscript or other text-bearing object. [10.1. Overview] -->
<!ELEMENT msDesc ((msIdentifier,(%model.headLike;)*,((%model.pLike;)+|((msContents)?,(physDesc)?,(history)?,(additional)?,((msPart)*|(msFrag)*)))))>
<!ATTLIST msDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(manuscript identifier) contains the information required to identify the manuscript or similar object being described. [10.4. The Manuscript Identifier] -->
<!ELEMENT msIdentifier ((((%model.placeNamePart_sequenceOptional;),(institution)?,(repository)?,(collection)*,(idno)*),(msName|objectName|altIdentifier)*))>
<!ATTLIST msIdentifier xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(name, proper noun) contains a proper noun or noun phrase. [3.5.1. Referring Strings] -->
<!ELEMENT name %macro.phraseSeq;>
<!ATTLIST name xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST name
 %tei_att.global.attribute.xmlid;
 %tei_att.canonical.attribute.ref;
 %tei_att.typed.attribute.type; >
<!--doc:contains a note or annotation. [3.8.1. Notes and Simple Annotation 2.2.6. The Notes Statement 3.11.2.8. Notes and Statement of Language 9.3.5.4. Notes within Entries] -->
<!ELEMENT note %macro.specialPara;>
<!ATTLIST note xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST note
 %tei_att.global.attribute.n; >
<!--doc:(notes statement) collects together any notes providing information about a text additional to that recorded in other parts of the bibliographic description. [2.2.6. The Notes Statement 2.2. The File Description] -->
<!ELEMENT notesStmt (%model.noteLike;|relatedItem)+>
<!ATTLIST notesStmt xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST notesStmt
 %tei_att.global.attribute.xmlid; >
<!--doc:(number) contains a number, written in any form. [3.5.3. Numbers and
Measures] -->
<!ELEMENT num %macro.phraseSeq;>
<!ATTLIST num xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST num
type %teidata.enumerated;  #IMPLIED >
<!--doc:contains a description of the physical components making up the object which is being described. [10.7.1. Object Description] -->
<!ELEMENT objectDesc ((%model.pLike;)+|((supportDesc)?,(layoutDesc)?))>
<!ATTLIST objectDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:contains a word or phrase describing the type of object being referred to. [10.3.2. Material and Object Type] -->
<!ELEMENT objectType %macro.phraseSeq;>
<!ATTLIST objectType xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:contains an informal description of a person's trade, profession or occupation. [15.2.2. The Participant Description] -->
<!ELEMENT occupation %macro.specialPara;>
<!ATTLIST occupation xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST occupation
 %tei_att.global.attributes;
 %tei_att.datable.attributes;
 %tei_att.editLike.attributes;
 %tei_att.naming.attributes;
 %tei_att.typed.attribute.subtype;
type %teidata.enumerated;  #IMPLIED
scheme %teidata.pointer;  #IMPLIED
code %teidata.pointer;  #IMPLIED >
<!--doc:(organization name) contains an organizational name. [13.2.2. Organizational Names] -->
<!ELEMENT orgName %macro.phraseSeq;>
<!ATTLIST orgName xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST orgName
 %tei_att.canonical.attribute.ref; >
<!--doc:(paragraph) marks paragraphs in prose. [3.1. Paragraphs 7.2.5. Speech Contents] -->
<!ELEMENT p %macro.paraContent;>
<!ATTLIST p xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST p
 %tei_att.global.attribute.xmlid; >
<!--doc:(page beginning) marks the beginning of a new page in a paginated document. [3.10.3. Milestone
Elements] -->
<!ELEMENT pb  EMPTY>
<!ATTLIST pb xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST pb
 %tei_att.global.attribute.xmlid;
 %tei_att.global.attribute.n;
 %tei_att.global.facs.attribute.facs; >
<!--doc:(punctuation character) contains a character or string of characters regarded as constituting a single punctuation mark. [17.1.2. Below the Word Level 17.4.2. Lightweight Linguistic Annotation] -->
<!ELEMENT pc (#PCDATA|_DUMMY_model.gLike|c|%model.pPart.edit;)*>
<!ATTLIST pc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST pc
 %tei_att.typed.attribute.type; >
<!--doc:(personal name) contains a proper noun or proper-noun phrase referring to a person, possibly including one or more of the person's forenames, surnames, honorifics, added names, etc. [13.2.1. Personal Names] -->
<!ELEMENT persName %macro.phraseSeq;>
<!ATTLIST persName xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST persName
 %tei_att.canonical.attribute.ref; >
<!--doc:provides information about an identifiable individual, for example a participant in a language interaction, or a person referred to in a historical source. [13.3.2. The Person Element 15.2.2. The Participant Description] -->
<!ELEMENT person ((%model.pLike;)+|(%model.personPart;|%model.global;)*)>
<!ATTLIST person xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST person
 %tei_att.global.attribute.xmlid; >
<!--doc:(phrase) represents a grammatical phrase. [17.1. Linguistic Segment Categories] -->
<!ELEMENT phr %macro.phraseSeq;>
<!ATTLIST phr xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(physical description) contains a full physical description of a manuscript, manuscript part, or other object optionally subdivided using more specialized elements from the model.physDescPart class. [10.7. Physical Description] -->
<!ELEMENT physDesc (((%model.pLike;)*,(%model.physDescPart_sequenceOptional;)))>
<!ATTLIST physDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:contains data about a geographic location [13.3.4. Places] -->
<!ELEMENT place (((%model.headLike;)*,((%model.pLike;)*|(%model.labelLike;|%model.placeStateLike;|_DUMMY_model.eventLike)*),(%model.noteLike;|%model.biblLike;|idno|linkGrp|link)*,(%model.placeLike;|listPlace)*))>
<!ATTLIST place xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST place
 %tei_att.global.attribute.xmlid; >
<!--doc:contains an absolute or relative place name. [13.2.3. Place Names] -->
<!ELEMENT placeName %macro.phraseSeq;>
<!ATTLIST placeName xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST placeName
 %tei_att.global.rendition.attribute.rend;
 %tei_att.canonical.attribute.ref; >
<!--doc:(text-profile description) provides a detailed description of non-bibliographic aspects of a text, specifically the languages and sublanguages used, the situation in which it was produced, the participants and their setting. [2.4. The Profile Description 2.1.1. The TEI Header and Its Components] -->
<!ELEMENT profileDesc (%model.profileDescPart;)*>
<!ATTLIST profileDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(pointer) defines a pointer to another location. [3.6. Simple Links and Cross-References 16.1. Links] -->
<!ELEMENT ptr  EMPTY>
<!ATTLIST ptr xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST ptr
 %tei_att.pointing.attribute.target; >
<!--doc:(publication place) contains the name of the place where a bibliographic item was published. [3.11.2.4. Imprint, Size of a Document, and Reprint Information] -->
<!ELEMENT pubPlace %macro.phraseSeq;>
<!ATTLIST pubPlace xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(publication statement) groups information concerning the publication or distribution of an electronic or other text. [2.2.4. Publication, Distribution, Licensing, etc. 2.2. The File Description] -->
<!ELEMENT publicationStmt (((%model.publicationStmtPart.agency;),(%model.publicationStmtPart.detail;)*)+|(%model.pLike;)+)>
<!ATTLIST publicationStmt xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST publicationStmt
 %tei_att.global.attribute.xmlid; >
<!--doc:provides the name of the organization responsible for the publication or distribution of a bibliographic item. [3.11.2.4. Imprint, Size of a Document, and Reprint Information 2.2.4. Publication, Distribution, Licensing, etc.] -->
<!ELEMENT publisher %macro.phraseSeq;>
<!ATTLIST publisher xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:contains the name of a repository within which manuscripts or other objects are stored, possibly forming part of an institution. [10.4. The Manuscript Identifier] -->
<!ELEMENT repository %macro.xtext;>
<!ATTLIST repository xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(responsibility) contains a phrase describing the nature of a person's intellectual responsibility, or an organization's role in the production or distribution of a work. [3.11.2.2. Titles, Authors, and Editors 2.2.1. The Title Statement 2.2.2. The Edition Statement 2.2.5. The Series Statement] -->
<!ELEMENT resp %macro.phraseSeq.limited;>
<!ATTLIST resp xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(statement of responsibility) supplies a statement of responsibility for the intellectual content of a text, edition, recording, or series, where the specialized elements for authors, editors, etc. do not suffice or do not apply. May also be used to encode information about individuals or organizations which have played a role in the production or distribution of a bibliographic work. [3.11.2.2. Titles, Authors, and Editors 2.2.1. The Title Statement 2.2.2. The Edition Statement 2.2.5. The Series Statement] -->
<!ELEMENT respStmt (((((resp)+,(%model.nameLike.agent;)+)|((%model.nameLike.agent;)+,(resp)+)),(note)*))>
<!ATTLIST respStmt xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:contains the name of a settlement such as a city, town, or village identified as a single geo-political or administrative unit. [13.2.3. Place Names] -->
<!ELEMENT settlement %macro.phraseSeq;>
<!ATTLIST settlement xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST settlement
 %tei_att.global.attributes;
 %tei_att.naming.attributes;
 %tei_att.typed.attributes;
 %tei_att.datable.attributes; >
<!--doc:specifies the sex of a person. [13.3.2.1. Personal Characteristics] -->
<!ELEMENT sex %macro.phraseSeq;>
<!ATTLIST sex xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(Latin for thus or so) contains text reproduced although apparently incorrect or inaccurate. [3.4.1. Apparent Errors] -->
<!ELEMENT sic %macro.paraContent;>
<!ATTLIST sic xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(source description) describes the source from which an electronic text was derived or generated, typically a bibliographic description in the case of a digitized text, or a phrase such as "born digital" for a text which has no previous existence. [2.2.7. The Source Description] -->
<!ELEMENT sourceDesc ((%model.pLike;)+|(%model.biblLike;|_DUMMY_model.sourceDescPart|%model.listLike;)+)>
<!ATTLIST sourceDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST sourceDesc
 %tei_att.global.attribute.xmlid; >
<!--doc:contains a word or phrase describing a stamp or similar device. [10.3.3. Watermarks and Stamps] -->
<!ELEMENT stamp %macro.phraseSeq;>
<!ATTLIST stamp xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST stamp
 %tei_att.typed.attribute.type; >
<!--doc:contains an overview of the available information concerning some aspect of an item or object (for example, its intellectual content, history, layout, typography etc.) as a complement or alternative to the more detailed information carried by more specific elements. [10.6. Intellectual Content] -->
<!ELEMENT summary %macro.specialPara;>
<!ATTLIST summary xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:contains a description of the materials etc. which make up the physical support for the written part of a manuscript or other object. [10.7.1. Object Description] -->
<!ELEMENT support %macro.specialPara;>
<!ATTLIST support xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST support
 %tei_att.global.attribute.xmlid; >
<!--doc:(support description) groups elements describing the physical support for the written part of a manuscript or other object. [10.7.1. Object Description] -->
<!ELEMENT supportDesc ((%model.pLike;)+|((support)?,(extent)?,(foliation)*,(collation)?,(condition)?))>
<!ATTLIST supportDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:defines a written surface as a two-dimensional coordinate space, optionally grouping one or more graphic representations of that space, zones of interest within that space, and transcriptions of the writing within them. [11.1. Digital Facsimiles 11.2.2. Embedded Transcription] -->
<!ELEMENT surface (((%model.global;|%model.labelLike;|%model.graphicLike;)*,((zone|line|path|surface|surfaceGrp),(%model.global;)*)*))>
<!ATTLIST surface xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST surface
 %tei_att.global.attribute.xmlid;
 %tei_att.coordinated.attribute.start; >
<!--doc:contains a family (inherited) name, as opposed to a given, baptismal, or nick name. [13.2.1. Personal Names] -->
<!ELEMENT surname %macro.phraseSeq;>
<!ATTLIST surname xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:contains the whole of a TEI encoded corpus, comprising a single corpus header and one or more TEI elements, each containing a single text header and a text. [4. Default Text Structure 15.1. Varieties of Composite Text] -->
<!ELEMENT teiCorpus ((teiHeader,(((%model.resourceLike;)+,(TEI|teiCorpus)*)|(TEI|teiCorpus)+)))>
<!ATTLIST teiCorpus xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST teiCorpus
 %tei_att.global.attribute.xmlbase; >
<!ATTLIST teiCorpus xsi:schemaLocation CDATA #IMPLIED
 xmlns:xsi CDATA #FIXED 'http://www.w3.org/2001/XMLSchema-instance'
 >
<!--doc:(TEI header) supplies descriptive and declarative metadata associated with a digital resource or set of resources. [2.1.1. The TEI Header and Its Components 15.1. Varieties of Composite Text] -->
<!ELEMENT teiHeader ((fileDesc,(%model.teiHeaderPart;)*,(revisionDesc)?))>
<!ATTLIST teiHeader xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST teiHeader
 %tei_att.global.attribute.xmlid; >
<!--doc:contains a single-word, multi-word, or symbolic designation which is regarded as a technical term. [3.3.4. Terms, Glosses, Equivalents, and Descriptions] -->
<!ELEMENT term %macro.phraseSeq;>
<!ATTLIST term xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:contains a single text of any kind, whether unitary or composite, for example a poem or drama, a collection of essays, a novel, a dictionary, or a corpus sample. [4. Default Text Structure 15.1. Varieties of Composite Text] -->
<!ELEMENT text (((%model.global;)*,(front,(%model.global;)*)?,(body|group),(%model.global;)*,(back,(%model.global;)*)?))>
<!ATTLIST text xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST text
 %tei_att.global.attribute.xmlid;
 %tei_att.typed.attribute.type; >
<!--doc:(text classification) groups information which describes the nature or topic of a text in terms of a standard classification scheme, thesaurus, etc. [2.4.3. The Text Classification] -->
<!ELEMENT textClass (classCode|catRef|keywords)*>
<!ATTLIST textClass xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST textClass
 %tei_att.global.attributes;
 %tei_att.declarable.attributes; >
<!--doc:(text language) describes the languages and writing systems identified within the bibliographic work being described, rather than its description. [3.11.2.4. Imprint, Size of a Document, and Reprint Information 10.6.6. Languages and Writing Systems] -->
<!ELEMENT textLang %macro.phraseSeq;>
<!ATTLIST textLang xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST textLang
mainLang %teidata.language;  #IMPLIED
otherLangs CDATA  #IMPLIED >
<!--doc:contains a title for any kind of work. [3.11.2.2. Titles, Authors, and Editors 2.2.1. The Title Statement 2.2.5. The Series Statement] -->
<!ELEMENT title %macro.paraContent;>
<!ATTLIST title xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST title
 %tei_att.global.attribute.xmlid;
 %tei_att.global.responsibility.attribute.resp;
type %teidata.enumerated;  #IMPLIED >
<!--doc:(title statement) groups information about the title of a work and those responsible for its content. [2.2.1. The Title Statement 2.2. The File Description] -->
<!ELEMENT titleStmt (((title)+,(%model.respLike;)*))>
<!ATTLIST titleStmt xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST titleStmt
 %tei_att.global.attribute.xmlid; >
<!--doc:contains a word, phrase, or passage which cannot be transcribed with certainty because it is illegible or inaudible in the source. [11.3.3.1. Damage, Illegibility, and Supplied Text 3.4.3. Additions, Deletions, and Omissions] -->
<!ELEMENT unclear %macro.paraContent;>
<!ATTLIST unclear xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST unclear
reason NMTOKENS  #IMPLIED >
<!--doc:(word) represents a grammatical (not necessarily orthographic) word. [17.1. Linguistic Segment Categories 17.4.2. Lightweight Linguistic Annotation] -->
<!ELEMENT w (#PCDATA|_DUMMY_model.gLike|seg|w|m|c|pc|%model.global;|_DUMMY_model.lPart|%model.hiLike;|%model.pPart.edit;)*>
<!ATTLIST w xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:contains a measurement measured along the axis parallel to the bottom of the written surface, i.e. perpendicular to the spine of a book or codex. [10.3.4. Dimensions] -->
<!ELEMENT width %macro.xtext;>
<!ATTLIST width xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:defines any two-dimensional area within a surface element. [11.1. Digital Facsimiles 11.2.2. Embedded Transcription] -->
<!ELEMENT zone (#PCDATA|%model.graphicLike;|%model.global;|surface|%model.linePart;)*>
<!ATTLIST zone xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST zone
 %tei_att.global.attribute.xmlid;
 %tei_att.coordinated.attribute.ulx;
 %tei_att.coordinated.attribute.uly;
 %tei_att.coordinated.attribute.lrx;
 %tei_att.coordinated.attribute.lry; >
<!-- end elements -->
